---
import LayoutEn from '../../layouts/LayoutEn.astro';
import EmailConfigForm from '../../components/EmailConfigForm.tsx';
---

<LayoutEn title="Email Notification System - DomMate">
  <main>
    <EmailDashboard language="en" client:load />
  </main>
</LayoutEn> 