---
import Layout from '../../layouts/Layout.astro';
import { EmailDashboard } from '../../components/EmailDashboard.tsx';
---

<Layout title="Email Notification System - DomainFlow">
  <main>
    <EmailDashboard language="en" client:load />
  </main>
</Layout> 