---
import LayoutEn from '../../layouts/LayoutEn.astro';
import { EmailDashboard } from '../../components/EmailDashboard.tsx';
---

<LayoutEn title="Email Notification System - DomMate">
  <main>
    <EmailDashboard language="en" client:load />
  </main>
</LayoutEn> 