---
import Layout from '../layouts/Layout.astro';
import { EmailDashboard } from '../components/EmailDashboard.tsx';
---

<Layout title="邮件通知系统 - DomainFlow">
  <main>
    <EmailDashboard language="zh" client:load />
  </main>
</Layout> 